@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 214 21% 20%;
    --card: 0 0% 100%;
    --card-foreground: 214 21% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 21% 20%;
    --primary: 214 32% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 214 21% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 214 15% 45%;
    --accent: 47 90% 52%;
    --accent-foreground: 214 32% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 15% 85%;
    --input: 214 15% 88%;
    --ring: 214 32% 30%;
    --chart-1: 214 32% 30%;
    --chart-2: 214 22% 50%;
    --chart-3: 47 90% 52%;
    --chart-4: 214 28% 40%;
    --chart-5: 47 85% 60%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 214 21% 20%;
    --sidebar-primary: 214 32% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 47 90% 52%;
    --sidebar-accent-foreground: 214 32% 30%;
    --sidebar-border: 214 15% 85%;
    --sidebar-ring: 214 32% 30%;
  }
  .dark {
    --background: 214 32% 15%;
    --foreground: 0 0% 98%;
    --card: 214 32% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 214 32% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 90% 52%;
    --primary-foreground: 214 32% 30%;
    --secondary: 214 20% 35%;
    --secondary-foreground: 0 0% 98%;
    --muted: 214 20% 40%;
    --muted-foreground: 0 0% 75%;
    --accent: 47 90% 52%;
    --accent-foreground: 214 32% 30%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 20% 35%;
    --input: 214 20% 35%;
    --ring: 47 90% 52%;
    --chart-1: 47 90% 52%;
    --chart-2: 214 22% 60%;
    --chart-3: 214 32% 30%;
    --chart-4: 214 28% 50%;
    --chart-5: 47 85% 60%;
    --sidebar-background: 214 32% 30%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 47 90% 52%;
    --sidebar-primary-foreground: 214 32% 30%;
    --sidebar-accent: 214 22% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 20% 35%;
    --sidebar-ring: 47 90% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
